/*This is a CSS rule */
body {	
	font-family: calibri, sans-serif;
  background-image: url(assets/background.jpg); 
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}


.intro {
	margin-top: 10%;
  margin-left: 10%;
}

.left {
	background-color: transparent;
	padding: 40px;
}

.well {
    background-color: #f5f5f5;
}

.account {
  text-align: center;
}

.account2 {
  color: red;
}

.text {
  font-size: 22px;
}



.headline {
  font-family: helvetica;
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: 5%;
  margin-bottom: 10%;


}

.wrapper {
  width: auto;
  height: auto;
  background: white;
  margin: 20px auto 20px auto;
  padding: 40px;
  text-align: center;
}