/*This is a CSS rule */
body {	
	font-family: calibri, sans-serif;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}


.intro {
	margin-top: 10%;
  margin-left: 10%;
  background: transparent
}

.left {
	padding: 40px;
    background: transparent;

}

.well, .white_background {
    background-color: #fff;
}

.account {
  text-align: center;
}


.text {
  font-size: 18px;

}

.large_padding { padding-top: 50px; padding-bottom: 50px;}