/*This is a CSS rule */
body {
	
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
	
	font-family: calibri, sans-serif;
}


.intro {
	margin-top: 10%;
}

.left {
	background-color: transparent;
	  padding: 40px;

}

.well {
	font-size: 15px;
    background-color: #f5f5f5;
}